html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  height: 90vw;
  max-height: 66vh;
  max-width: 66vh;
  width: 90vw;
}

.cell {
  height: 30vw;
  max-height: 22vh;
  width: 30vw;
  max-width: 22vh;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(4rem + 2vw);
}

.cell:hover {
  background-color: #aaa;
  cursor: pointer;
}

.start-game button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.start-game button:hover {
  background-color: #aaa;
  cursor: pointer;
}

.turn-div {
  font-size: 2rem;
}
